@*@using System.Web.Optimization*@
@using FormHelper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/_files/css/common.min.css">
    @*<link href="~/Content/fontawesome.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header>
        @Html.SSI("/_ssi/header.html")
    </header>
    <div class="container main-content">
        @RenderBody()
    </div>
    <footer class="footer">
        @*<p>&copy; @DateTime.Now.Year Cuyahoga Community College</p>*@
            @Html.SSI("/_ssi/footer.html")
    </footer>
</body>

@RenderSection("scripts", required: false)

</html>