@using CollegeCreditPlusOrientation.Models;
@using FormHelper;

@{
    string alertMessage  = (string)Session["AlertMessage"];

}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/_files/css/common.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<header>
    @Html.SSI("/_ssi/header.html")
   
</header>
@if (!string.IsNullOrEmpty(alertMessage))
{
    <div style="padding-top: 7em;" class="bg-danger">
        <h3>@alertMessage</h3>
    </div>
}
<div class="input-form">
    @RenderBody()
</div>
<footer>
    @*@Html.SSI("/_ssi/footer.html")*@
</footer>
@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)

<!-- Google Analytics -->
<script>
    var _gaq = [['_setAccount', 'UA-3147993-1'], ['_trackPageview']];
    (function(d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>

<!-- Spectate Tracking -->
<script type="text/javascript">
    var sAId = "508";
    var sCId = "2921";

    (function() {
        function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.src =
                (('https:' == document.location.protocol) ? "https://ssl.spectate.com" : "http://cdn.spectate.com") +
                "/s.js";
            var c = document.getElementsByTagName('script')[0];
            c.parentNode.insertBefore(s, c);
        }

        if (window.attachEvent) {
            window.attachEvent('onload', async_load);
        } else {
            window.addEventListener('load', async_load, false);
        }
    })();
</script>
</body>
</html>